<body>
  <h1>Edit Bookmarks:</h1>
  <form class="" action="/delete_bookmark" method="post">
    <ul>
      <% @bookmarks.each do |bmk| %>
        <li id="<%= bmk.title %>-id">
          <input type="checkbox" id="<%= bmk.title %>" name="check[]" value="<%= bmk.title %>">
          <a href="<%= bmk.url %>"><%= bmk.title %></a>
          <form class="" action="/bookmarks/<%= bmk.id %>" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <input type="submit" name="update" value="Update">
          </form>
          </li>
      <% end %>
    </ul>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</body>
